@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;

}

body{
    background: url(../imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover;
}


main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 816px;
    width: 1310px;
    background-color: blue;
    background: url(../imagens/Adobe\ Express\ -\ file.png) no-repeat;

}

iframe#tela{
    position: absolute;
    top: 93px;
    left:516px;
    width: 270px;
    height: 583px;
    border-radius: 30px;
}



